

/*ELEMENTS*/
body {
    /*Why is there padding?*/
    /*padding-bottom: 600px;*/
    background-color: #F0F0F0;
}

div {
    text-align: center;
}

div.img-container {
    justify-content: center;
    margin: auto;
}

div.text\+circle {
    margin: 0 1em 1em 1em;
    width: 100%;
}

/*IDs*/
#logo-img {
    width: 100%;
}

#hamburger {
    border: solid 1px lightgrey;
    padding: .25em .5em;
    border-radius: 10%;
}

#design {
    background-color: #E6563B;
    display: flex;
    justify-content: center;
    align-items: center;
}

#develop {
    background-color: #EB9D3A;
    display: flex;
    justify-content: center;
    align-items: center;
}

#support {
    background-color: #7CB06C;
    display: flex;
    justify-content: center;
    align-items: center;
}

#host {
    background-color: #00ABA9;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ipadrow {
    width: 86%;
    margin: auto;
}

#foursmallipad {
    margin: 0;
    justify-content: center;
}

#foursmallmac {
    margin: 0;
    justify-content: center;
}

#foursmallman {
    margin: 0;
    justify-content: center;
}

#foursmallsec {
    margin: 0;
    justify-content: center;
}

#hide {
    height: 0;
}

/*CLASSES*/
.container {
    margin: 0 auto;
    padding: 0;
    width: 95%;
}

.spacer {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-div {
    border: none
}

.vis-des {
    font-family: 'Anton', sans-serif;
    font-size: 4em;
}

.utah {
    font-family: 'Anton', sans-serif;
    margin: 0.5em 0;
    font-weight: bold;
    font-size: 2.5em;
}

.abel {
    font-family: 'Abel', sans-serif;
}

.abelspace {
    font-family: 'Abel', sans-serif;
    margin-top: 1em;
    margin-bottom: 1em;
}

.circle-big { /*CIRCLES UNDER VIS DES*/
    border-radius: 50%;
    padding: 2.5em;
    height: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    color: white;
    border: .5em solid white;
    font-family: 'Anton', sans-serif;
}

.d-r {
    background-color: #E6563B;
}

.d-o {
    background-color: #EB9D3A;
}

.s-g {
    background-color: #7CB06C;
}

.h-b {
    background-color: #00ABA9;
}

.img {
    background: #E6E6E6;
    padding: 0.5em;
}

.lil-circle {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.circle-small {
    color: black;
    height: 18px;
    width: 18px;
    margin-left: .3em;
    margin-bottom: .5em;
    border-radius: 50%;
    font-family: 'Anton', sans-serif;
    padding: .75em;
    border: none;
}


.smallrowspacing {
    margin: 0 1em 0 0;
}

.text {
    color: black;
    align-items: flex-end;
    justify-content: flex-start;
}

.badge {
    font-family: 'Anton', sans-serif;
    color: black;
}

@media screen and (min-width: 768px) {
    #hide {
        height: 1px;
    }
}